In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('datos.csv')

In [12]:
df.head(10)

        fecha  cantidad   turno dia_semana
0  01/11/2019       277  siesta    viernes
1  02/11/2019       263  siesta     sabado
2  03/11/2019       208  siesta    domingo
3  04/11/2019       277  siesta      lunes
4  05/11/2019       177  siesta     martes
5  06/11/2019       292  siesta  miercoles
6  07/11/2019       242  siesta     jueves
7  08/11/2019       272  siesta    viernes
8  09/11/2019       256  siesta     sabado
9  10/11/2019       175  siesta    domingo